/* importamos los componentes */
@import url(components/avatar.css);
@import url(components/cards.css);
@import url(components/button.css);
@import url(components/container.css);
@import url(components/banner.css);

body {
  background-image: url(https://images.unsplash.com/photo-1493612276216-ee3925520721?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1664&q=80);
  background-size: cover;
  background-position: bottom;
  color: #000000;
  font-family: Lora, serif;
  font-size: 17px;
}
h1,
h2,
h3,
p {
  font-family: Roboto, sans-serif;
}

h1 {
  color: #575f7d;
  font-size: 24px;
  font-weight: 900;
}

h2 {
  color: #122134;
  font-size: 20px;
  font-weight: bold;
}
a {
  font-family: roboto, sans-serif;
  text-decoration: none;
  color: #6b72e1;
  font-weight: 600;
  font-size: 16px;
}
a:hover {
  color: black;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline-block;
  padding: 10px;
}

.list-inline i {
  font-size: 50px;
  color: rgb(230, 230, 230);
}

.list-inline i:hover {
  color: black;
}

#introduction p {
  margin-bottom: 40px;
}
